<div class="grid-nogutter">
    <div class="surface-ground px-4 py-8 md:px-6 lg:px-8 col-10 col-offset-1">
        <div class="flex flex-wrap shadow-2">
            <div class="flex flex-wrap align-items-center justify-content-center w-full lg:w-6 px-0 py-4 lg:p-7 bg-blue-50">
                <img src="assets/images/illustration/sending-email.svg" alt="Image"
                    class=" bg-center md:block w-12 bg-no-repeat bg-cover">
            </div>
            <div
                class="flex align-content-center flex-wrap justify-content-center w-full lg:w-6 p-4 lg:p-7 surface-card">
                <div class="flex align-content-center justify-content-between mb-7 w-full">
                    <span class="text-2xl font-medium text-900 flex align-items-center flex-wrap"><img
                            src="assets/images/layout/logo-fix.svg" alt="Image"
                            height="35"><span class="ml-2">Lawencon Community</span></span>
                </div>
                <div class="w-full">
                    <form #formForgotPassword="ngForm" (ngSubmit)="update(formForgotPassword.form.valid)">
                        <div class="h-full w-full m-0 py-7 px-4"
                            style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                            <div class="w-full md:w-10 mx-auto">
            
                                <label for="verification" class="block text-900 text-xl font-medium mb-2">Your Email</label>
                                <input id="verification" name="verification" type="text" placeholder="Your Code" pInputText class="w-full mb-3"
                                    style="padding:1rem;" [(ngModel)]="reqData.email" required="true" minLength="5" maxlength="30">
            
                                <button pButton pRipple label="Verify" class="w-full p-3 text-xl" [disabled]="formForgotPassword.form.invalid"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>