<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 xl:col-6"
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <form #formForgotPassword="ngForm" (ngSubmit)="update(formForgotPassword.form.valid)">
                <div class="h-full w-full m-0 py-7 px-4"
                    style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                    <div class="w-full md:w-10 mx-auto">
    
                        <label for="verification" class="block text-900 text-xl font-medium mb-2">Your Email</label>
                        <input id="verification" name="verification" type="text" placeholder="Your Code" pInputText class="w-full mb-3"
                            style="padding:1rem;" [(ngModel)]="reqData.email" required="true" minLength="5" maxlength="30">
    
                        <button pButton pRipple label="Verify" class="w-full p-3 text-xl" [disabled]="formForgotPassword.form.invalid"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>