<div class="lg:px-8 md:px-6 px-4 py-5 ng-star-inserted card m-5">
    <form #formEventCourseCart="ngForm">
        <div class="flex justify-content-between">
            <div class="text-900 text-xl mb-5 text-left font-medium">Total Price : {{getTotal()}}</div>
            <div>
                <p-button (onClick)="pay()" label="Pay" [disabled]="formEventCourseCart.form.invalid || !idAndPrices.length || !file"></p-button>
            </div>
        </div>
        <label for="paymentMethod" class="block text-900 text-xl font-medium mb-3">Payment Method</label>
        <p-dropdown [options]="paymentMethods" [(ngModel)]="insertPayment.idPaymentMethod" optionLabel="paymentName" optionValue="id" id="paymentMethod" name="paymentMethod" optionlabel="name" styleclass="w-100" required="true">
            <div class="ng-tns-c41-2 w-full p-dropdown p-component p-dropdown-clearable">
                <div role="button" aria-label="dropdown trigger" aria-haspopup="listbox" class="p-dropdown-trigger ng-tns-c41-2">
                    <span class="p-dropdown-trigger-icon ng-tns-c41-2 pi pi-chevron-down"></span>
                </div>
            </div>
        </p-dropdown>

        <div class="col-12 lg:col-6 field mb-4">
            <label for="file" class="block text-900 text-xl font-medium mb-3 mt-3">File</label>
            <p-fileUpload id="file" name="file" accept="image/*" (onSelect)="changeFile($event.files)" (onRemove)="removeFile()" [auto]="true" chooseLabel="Browse">
                <ng-template pTemplate="content">
                    <span *ngIf="!file" class="flex justify-content-center">Drag and Drop here</span>
                </ng-template>
            </p-fileUpload>
        </div>
    </form>
</div>
<div class="lg:px-8 md:px-6 px-4 py-5 ng-star-inserted card mx-5">
    <div class="text-900 text-xl mb-5 text-left font-medium">Choose your Event or Course</div>
    <div class="w-full" *ngFor="let unpaidEventCourse of unpaidEventCourses">
        <label for="{{unpaidEventCourse.id}}">
            <div class="border-1 p-4 mb-3 border-round flex flex-column md:flex-row align-items-start md:align-items-center md:justify-content-start cursor-pointer surface-card surface-border">
                <input name="group1" type="checkbox" (change)="onChange(unpaidEventCourse.data, $event.target.checked)" id="{{unpaidEventCourse.id}}" style="transform: scale(2);">
                <div class="flex align-items-start ml-5" style="width: 400px;">
                    <img src='http://localhost:1234/files/download/{{unpaidEventCourse.idFile}}' class="mr-3" style="width: 50px;">
                    <div>
                        <div class="font-medium mb-3 text-900">
                            <p-tag *ngIf="unpaidEventCourse.eventCourseType == 'Event'" styleClass="mr-2" value="{{unpaidEventCourse.eventCourseType}}"></p-tag>
                            <p-tag *ngIf="unpaidEventCourse.eventCourseType == 'Course'" styleClass="mr-2" severity="success" value="{{unpaidEventCourse.eventCourseType}}"></p-tag>
                            {{unpaidEventCourse.title}} 
                        </div>
                        <span class="p-1 border-round surface-100 text-600">Created : {{dateFormatter(unpaidEventCourse.createdAt)}}</span>
                    </div>
                </div>
                <div class="flex align-items-start md:mr-8" style="width: 400px;">
                    <div>
                        <div class="ml-0 md:ml-8 mt-4 md:mt-0 border-1 p-1 px-2 border-round flex align-items-center surface-100 text-600 surface-border mb-2">
                            <i class="pi pi-calendar mr-2"></i><span>{{dateFormatter(unpaidEventCourse.dateStart)}} &nbsp; - &nbsp; {{dateFormatter(unpaidEventCourse.dateEnd)}}</span>
                        </div>
                        <div class="ml-0 md:ml-8 mt-2 md:mt-0 border-1 p-1 px-2 border-round flex align-items-center surface-100 text-600 surface-border">
                            <i class="pi pi-clock mr-2"></i><span>{{timeFormatter(unpaidEventCourse.timeStart)}} &nbsp; - &nbsp; {{timeFormatter(unpaidEventCourse.timeEnd)}}</span>
                        </div>
                    </div>
                </div>
                <div class="flex align-items-start md:mr-3" style="width: 400px;">
                    <div>
                        <div class="ml-0 md:ml-8 mt-4 md:mt-0 border-1 p-1 px-2 border-round flex align-items-center surface-100 text-600 surface-border mb-2">
                            <i class="pi pi-globe mr-2"></i><span>{{unpaidEventCourse.location}}</span>
                        </div>
                        <div class="ml-0 md:ml-8 mt-2 md:mt-0 border-1 p-1 px-2 border-round flex align-items-center surface-100 text-600 surface-border">
                            <i class="pi pi-money-bill mr-2"></i><span>Rp. {{unpaidEventCourse.eventPrice}}</span>
                        </div>
                    </div>
                </div>
                <div class="flex align-items-start mt-4 md:mt-0">
                    <div class="font-large text-900">
                        {{priceFormatter(unpaidEventCourse.price)}} 
                    </div>
                </div>
            </div>
        </label>
    </div>
</div>