<div class="grid-nogutter">
    <div class="surface-ground px-4 py-8 md:px-6 lg:px-8 col-10 col-offset-1">
        <div class="flex flex-wrap shadow-2">
            <div class="w-full lg:w-6 px-0 py-4 lg:p-7 bg-blue-50">
                <img src="assets/images/illustration/pass.svg" alt="Image"
                    class=" md:block w-12 bg-no-repeat bg-cover">
            </div>
            <div
                class="flex align-content-center flex-wrap justify-content-center w-full lg:w-6 p-4 lg:p-7 surface-card">
                <div class="flex align-content-center justify-content-between mb-7 w-full">
                    <span class="text-2xl font-medium text-900 flex align-items-center flex-wrap"><img
                            src="assets/layout/images/{{config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="Image"
                            height="35"><span class="ml-2">Lawencon Community</span></span>
                </div>
                <div class="w-full">
                    <form #formVerification="ngForm" (ngSubmit)="update(formVerification.form.valid)">

                        <div class="flex align-items-center justify-content-between mb-5">
                            <p class="font-medium no-underline text-right" style="color: var(--primary-color)">Thankyou
                                for register. Please Check Your Email !</p>
                        </div>

                        <label for="verification" class="block text-900 text-xl font-medium mb-2">Verification
                            Code</label>
                        <input id="verification" name="verification" type="text" placeholder="Your Code" pInputText
                            class="w-full mb-3" style="padding:1rem;" [(ngModel)]="registrationCode" required="true"
                            minLength="6" maxlength="6">

                        <button pButton pRipple label="Verify" class="w-full p-3 text-xl"
                            [disabled]="formVerification.form.invalid">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>