<div class="surface-ground px-4 py-8 md:px-6 lg:px-8 grid">
    <!-- left nav -->
    <div class="col-12 md:col-6 lg:col-3 p-3">
        <!-- title -->
        <div class="flex justify-content-start align-items-center mb-3">
            <div class="flex justify-content-center align-items-center bg-blue-500 border-circle" style="width: 2.2rem; height: 2.2rem;"><i class="text-50 pi pi-fw pi-calendar text-lg"></i></div>
            <div class="font-bold text-lg text-900 ml-1">Settings</div>
        </div>
        <!-- nav item -->
        <div class="surface-card shadow-2 border-round select-none">
            <ul class="list-none p-2 m-0">
                <li (click)="router.navigate(['/user/setting/thread'])">
                    <a pRipple="" class="p-ripple p-element flex align-items-center cursor-pointer p-3 hover:surface-100 border-round transition-colors transition-duration-150">
                        <span class="font-medium text-700">Thread</span>
                    </a>
                </li>
                <li>
                    <a pRipple="" class="p-element flex align-items-center p-3 border-round surface-200">
                        <span class="font-medium text-900">Event & Course</span>
                    </a>
                </li>
                <li (click)="router.navigate(['/user/setting/thread-like'])">
                    <a pRipple="" class="p-ripple p-element flex align-items-center cursor-pointer p-3 hover:surface-100 border-round transition-colors transition-duration-150">
                        <span class="font-medium text-700">Likes</span>
                    </a>
                </li>
                <li (click)="router.navigate(['/user/setting/thread-bookmark'])">
                    <a pRipple="" class="p-ripple p-element flex align-items-center cursor-pointer p-3 hover:surface-100 border-round transition-colors transition-duration-150">
                        <span class="font-medium text-700">Bookmark</span>
                    </a>
                </li>
                <li (click)="router.navigate(['/user/setting/joined-event-course'])">
                    <a pRipple="" class="p-ripple p-element flex align-items-center cursor-pointer p-3 hover:surface-100 border-round transition-colors transition-duration-150">
                        <span class="font-medium text-700">Joined Event & Course</span>
                    </a>
                </li>
                <li (click)="router.navigate(['/user/setting/edit-profile'])">
                    <a pRipple="" class="p-ripple p-element flex align-items-center cursor-pointer p-3 hover:surface-100 border-round transition-colors transition-duration-150">
                        <span class="font-medium text-700">Edit Profile</span>
                    </a>
                </li>
                <li (click)="router.navigate(['/user/setting/change-password'])">
                    <a pRipple="" class="p-ripple p-element flex align-items-center cursor-pointer p-3 hover:surface-100 border-round transition-colors transition-duration-150">
                        <span class="font-medium text-700">Password</span>
                    </a>
                </li>
                <li (click)="router.navigate(['/user/setting/premium'])">
                    <a pRipple="" class="p-ripple p-element flex align-items-center cursor-pointer p-3 hover:surface-100 border-round transition-colors transition-duration-150">
                        <span class="font-medium text-700">👑Premium👑</span>
                    </a>
                </li>
                <p-divider></p-divider>
                <li (click)="toLogout()">
                    <a pRipple="" class="p-ripple p-element flex align-items-center cursor-pointer p-3 hover:surface-100 border-round transition-colors transition-duration-150">
                        <span class="font-medium text-pink-500">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-9 p-3">
        <div class="grid">
            <div class="flex justify-content-start align-items-center mb-3 col-6">
                <div class="flex justify-content-center align-items-center bg-pink-500 border-circle" style="width: 2.2rem; height: 2.2rem;"><i class="text-50 pi pi-fw pi-calendar text-lg"></i></div>
                <div class="font-bold text-lg text-900 ml-1">Event & Course</div>
            </div>
            <div class="flex justify-content-end align-items-center mb-3 col-6">
                <p-button class="mr-3" label="Create" icon="pi pi-plus" routerLink="/event-course/save"></p-button>
                <p-button label="Cart" icon="pi pi-shopping-cart" routerLink="/event-course/cart"></p-button>
            </div>
        </div>
        <p-tabView>
            <p-tabPanel header="Event" leftIcon="pi pi-ticket">
                <p-dataView #dv [value]="events" [paginator]="true" [rows]="9" layout="grid">
                    <ng-template let-event pTemplate="gridItem">
                        <div class="col-12 md:col-4 p-1 my-2">
                            <div class="p-3 shadow-2 border-round surface-card">
                                <img src='http://localhost:1234/files/download/{{event.idFile}}' alt="Image" class="block w-full mb-3" style="height: 200px;">
                                <div class="flex justify-content-between align-items-center text-900">
                                    <span class="inline-flex align-items-center">
                                        <span>{{event.fullName}}</span>
                                    </span>
                                    <span>Event</span>
                                </div>
                                <p class="line-height-3 mt-3 mb-3 text-900 font-bold">{{event.title}}</p>
                                <div class="mb-5">
                                    <div class="mb-3 flex justify-content-between align-items-center text-900">
                                        <span>
                                            <i class="pi pi-globe mr-2 text-blue-600"></i>
                                            <span>{{event.eventCourseLocation}}</span>
                                        </span>
                                        <span>
                                            <i class="pi pi-clock mr-2 text-blue-600"></i>
                                            <span>{{timeFormatter(event.timeStart)}} - {{timeFormatter(event.timeEnd)}}</span>
                                        </span>
                                    </div>
                                    <div class="mb-3 flex justify-content-between align-items-center text-900">
                                        <span>
                                            <i class="pi pi-calendar mr-2 text-blue-600"></i>
                                            <span>{{dateFormatter(event.dateStart)}} - {{dateFormatter(event.dateEnd)}}</span>
                                        </span>
                                        <span>
                                            <i class="pi pi-ticket mr-2 text-blue-600"></i>
                                            <span>{{priceFormatter(event.price)}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="mb-4 flex flex-wrap align-items-center">
                                    <p-tag class="p-element mr-2" *ngFor="let category of event.dataCategoryDetail">
                                        <span class="p-tag p-component">
                                            <span class="p-tag-value">{{category.categoryName}}</span>
                                        </span>
                                    </p-tag>
                                </div>
                                <button class="p-button-outlined p-button-rounded mb-2" (click)="confirm(event.id)" icon="pi pi-list" pButton label="Order List"></button>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </p-tabPanel>
            <p-tabPanel header="Course" leftIcon="pi pi-briefcase ">
                <p-dataView #dv [value]="courses" [paginator]="true " [rows]="9 " layout="grid">
                    <ng-template let-course pTemplate="gridItem">
                        <div class="col-4 p-1 my-2 ">
                            <div class="p-3 shadow-2 border-round surface-card ">
                                <img src='http://localhost:1234/files/download/{{course.idFile}}' alt="Course Image " class="block w-full mb-3 " style="height: 200px; ">
                                <div class="flex justify-content-between align-items-center text-900 ">
                                    <span class="inline-flex align-items-center ">
                                        <span>{{course.fullName}}</span>
                                    </span>
                                    <span>Course</span>
                                </div>
                                <p class="line-height-3 mt-3 mb-3 text-900 font-bold ">{{course.title}}</p>
                                <div class="mb-5 ">
                                    <div class="mb-3 flex justify-content-between align-items-center text-900 ">
                                        <span>
                                            <i class="pi pi-globe mr-2 text-blue-600 "></i>
                                            <span>{{course.eventCourseLocation}}</span>
                                        </span>
                                        <span>
                                            <i class="pi pi-clock mr-2 text-blue-600 "></i>
                                            <span>{{timeFormatter(course.timeStart)}} - {{timeFormatter(course.timeEnd)}}</span>
                                        </span>
                                    </div>
                                    <div class="mb-3 flex justify-content-between align-items-center text-900 ">
                                        <span>
                                            <i class="pi pi-calendar mr-2 text-blue-600 "></i>
                                            <span>{{dateFormatter(course.dateStart)}} - {{dateFormatter(course.dateEnd)}}</span>
                                        </span>
                                        <span>
                                            <i class="pi pi-ticket mr-2 text-blue-600 "></i>
                                            <span>{{priceFormatter(course.price)}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="mb-4 flex flex-wrap align-items-center ">
                                    <p-tag class="p-element mr-2 " *ngFor="let category of course.dataCategoryDetail ">
                                        <span class="p-tag p-component ">
                                            <span class="p-tag-value ">{{category.categoryName}}</span>
                                        </span>
                                    </p-tag>
                                </div>
                                <button class="p-button-outlined p-button-rounded mb-2 " (click)="confirm(course.id) " pButton label="Order List "></button>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </p-tabPanel>

        </p-tabView>
    </div>

</div>