<div class="surface-ground px-4 py-6 md:px-6 lg:px-8 grid">
    <div class="col-12">
        <div class="flex justify-content-start align-items-center mb-4">
            <div class="flex justify-content-center align-items-center bg-green-500 border-circle" style="width: 2.2rem; height: 2.2rem;"><i class="text-50 pi pi-fw pi-plus text-xl"></i></div>
            <div class="font-bold text-2xl text-900 ml-1">Create Event & Course</div>
        </div>
        <div class="surface-card shadow-2 border-round p-5 flex-auto mb-3">
            <form #formCreateEventCourse="ngForm">
                <p-selectButton styleClass="mb-3 col-6" id="evtType" name="evtType" [options]="types" optionLabel="eventTypeName" optionValue="id" [(ngModel)]="insertEventCourse.idEventCourseType" required="true"></p-selectButton>

                <label for="title" class="block text-900 text-xl font-medium mb-2">Title<span style="color: red;">*</span></label>
                <input id="title" name="title" type="text" pInputText class="w-full mb-3" style="padding:1rem;" [(ngModel)]="insertEventCourse.title" required="true">

                <label for="content" class="block text-900 text-xl font-medium mb-2">Description<span style="color: red;">*</span></label>
                <textarea class="mb-3" id="contents" name="contents" rows="5" cols="93" pInputTextarea autoResize="autoResize" [(ngModel)]="insertEventCourse.contents"></textarea>

                <div class="grid">
                    <div class="col-6">
                        <label for="price" class="block text-900 text-xl font-medium mb-2">Price<span style="color: red;">*</span></label>
                        <p-inputNumber styleClass="w-full mb-3" [(ngModel)]="insertEventCourse.price" mode="currency" inputId="price" name="price" currency="IDR" currencyDisplay="code" locale="en-ID" required="true">
                        </p-inputNumber>
                    </div>
                    <div class="col-6">
                        <label for="location" class="block text-900 text-xl font-medium mb-2">Location<span style="color: red;">*</span></label>

                        <p-radioButton name="online" [value]=false [(ngModel)]="isOffline" inputId="online"></p-radioButton>
                        <label class="ml-2" for="online">Online</label>

                        <p-radioButton styleClass="ml-3" name="offline" [value]=true [(ngModel)]="isOffline" inputId="offline"></p-radioButton>
                        <label class="ml-2" for="offline">Offline</label>

                        <textarea *ngIf="isOffline" class="mb-3 mt-3" id="location" name="location" rows="5" cols="43" pInputTextarea autoResize="autoResize" [(ngModel)]="insertEventCourse.eventCourseLocation" required="true" required="true"></textarea>
                    </div>
                </div>

                <div class="grid">
                    <div class="col-6">
                        <label for="dateStart" class="block text-900 text-xl font-medium mb-2">Date Start<span style="color: red;">*</span></label>
                        <p-calendar styleClass="w-full mb-3" [(ngModel)]="insertEventCourse.dateStart" [minDate]="minDate" [readonlyInput]="true" inputId="dateStart" name="dateStart" required="true"></p-calendar>
                    </div>
                    <div class="col-6">
                        <label for="dateEnd" class="block text-900 text-xl font-medium mb-2">Date End<span style="color: red;">*</span></label>
                        <p-calendar styleClass="w-full mb-3" [(ngModel)]="insertEventCourse.dateEnd" [minDate]="minDate" [readonlyInput]="true" inputId="dateEnd" name="dateStart" required="true"></p-calendar>
                    </div>
                </div>

                <div class="grid">
                    <div class="col-6">
                        <label for="timeStart" class="block text-900 text-xl font-medium mb-2">Time Start<span style="color: red;">*</span></label>
                        <p-calendar styleClass="w-full mb-3" [(ngModel)]="insertEventCourse.timeStart" [timeOnly]="true" inputId="timeStart" name="timeStart" required="true"></p-calendar>
                    </div>
                    <div class="col-6">
                        <label for="timeEnd" class="block text-900 text-xl font-medium mb-2">Time End<span style="color: red;">*</span></label>
                        <p-calendar styleClass="w-full mb-3" [(ngModel)]="insertEventCourse.timeEnd" [timeOnly]="true" inputId="timeEnd" name="timeEnd" required="true"></p-calendar>
                    </div>
                </div>

                <label for="file" class="block text-900 text-xl font-medium mb-2 mt-3">File<span style="color: red;">*</span></label>
                <p-fileUpload id="file" name="file" accept="image/*" (onSelect)="changeFile($event.files)" (onRemove)="removeFile()" [auto]="true" chooseLabel="Browse">
                    <ng-template pTemplate="content">
                        <span *ngIf="!file" class="flex justify-content-center">Drag and Drop here</span>
                    </ng-template>
                </p-fileUpload>

                <label for="category" class="block text-900 text-xl font-medium mb-2 mt-3">Category<span style="color: red;">*</span></label>
                <p-multiSelect [options]="categories" [(ngModel)]="selectCategories" defaultLabel="Select a Country" optionLabel="categoryName" class="multiselect-custom" name="multiSelect" required="true">
                    <ng-template let-value pTemplate="selectedItems">
                        <div class="country-item country-item-value inline-flex align-items-center py-1 px-2 bg-primary text-primary border-round mr-2" *ngFor="let option of selectCategories">
                            <div>{{option.categoryName}}</div>
                        </div>
                        <div *ngIf="!selectCategories || selectCategories.length === 0" class="country-placeholder">
                            Select Categories
                        </div>
                    </ng-template>
                    <ng-template let-category pTemplate="item">
                        <div class="flex align-items-center country-item">
                            <div>{{category.categoryName}}</div>
                        </div>
                    </ng-template>
                </p-multiSelect>

                <div class="text-500 flex justify-content-end align-items-center mr-1 mt-3">
                    <p-button (onClick)="click()" [disabled]="formCreateEventCourse.form.invalid || !file">
                        Create &nbsp;
                        <span *ngIf="insertEventCourse.idEventCourseType == '1'"> Event</span>
                        <span *ngIf="insertEventCourse.idEventCourseType == '2'"> Course</span>
                    </p-button>
                </div>
            </form>
        </div>
    </div>
</div>