<!-- Content -->
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8 grid">
    <!-- Main Content -->
    <div class="col-12 md:col-6 lg:col-9 mb-2">
        <div class="flex justify-content-start align-items-center mb-5">
            <div class="flex justify-content-center align-items-center bg-green-500 border-circle" style="width: 2.2rem; height: 2.2rem;">
                <i class="text-50 pi pi-fw pi-book text-xl"></i>
            </div>
            <div class="font-bold text-2xl text-900 ml-2">Threads</div>
        </div>
        <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
            <div class="text-600 text-sm mb-3"><span>Published </span><span class="font-bold">{{threadDetailData.date}}</span><span>
                    by </span><span class="font-bold">{{threadDetailData.fullName}}</span></div>
            <div class="border-blue-600 font-medium text-2xl p-3 mb-3 text-900" style="border-left: 8px solid;">
                {{threadDetailData.title}}</div>
            <div class="mb-5">
                <p-tag class="p-element mr-2" *ngFor="let data of threadDetailData.dataCategoryDetail"><span class="p-tag p-component">
                        <span class="p-tag-value">{{data.categoryName}}</span>
                    </span>
                </p-tag>
            </div>
            <div class="line-height-3 text-lg text-700 mb-4" [innerHTML]="threadDetailData.contents">
            </div>
            <div class="card" *ngIf="voteStatus">
                <h5>{{threadDetailData.pollingName}}</h5>
                <div class="border-bottom-2 surface-border mb-4"></div>
                <div class="line-height-3 text-lg text-700 mb-4" *ngFor="let dataPol of threadDetailData.dataThreadPolling">
                    <div class="grid">
                        <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded col-2 ml-3" (click)="doVote(dataPol.id)">
                        </button>
                        <span class="flex justify-content-start align-items-center col-10">{{dataPol.pollingName}}</span>
                    </div>
                </div>
            </div>

            <div class="card" *ngIf="!voteStatus">
                <h5>{{threadDetailData.pollingName}}</h5>
                <div class="border-bottom-2 surface-border mb-4"></div>

                <div class="grid" *ngFor="let dataVote of voteData.data">
                    <div class="col">
                        <span>{{dataVote.name}}</span>
                        <p-progressBar [value]="dataVote.total/voteData.total*100" [showValue]="true">
                            {{data.name}}
                        </p-progressBar>
                    </div>
                </div>
            </div>

            <div class="text-500 flex justify-content-end align-items-center">
                <span class="cursor-pointer" (click)="likeClick()"><i class="{{labelLike}}"></i>
                    <span class="mr-3">{{threadDetailData.like}}</span>
                </span>
                <span class="cursor-pointer" (click)="commentClick()"><i class="pi pi-comment mr-3"></i>
                    <span class="mr-3">{{threadDetailData.comment}}</span>
                </span>
                <span class="cursor-pointer" (click)="bookmarkClick()"><i class="{{labelBookmark}}"></i>
                    <span class="mr-3">{{threadDetailData.bookmark}}</span>
                </span>
            </div>
        </div>

        <div class="flex justify-content-start align-items-center my-3">
            <div class="flex justify-content-center align-items-center bg-purple-500 border-circle" style="width: 2.2rem; height: 2.2rem;"><i class="text-50 pi pi-fw pi-comment text-lg"></i></div>
            <div class="font-bold text-lg text-900 ml-1">Comments</div>
        </div>
        <!-- comment form -->
        <div class="my-3" *ngIf="showComment">
            <div class="surface-card p-4 mb-3">
                <form #formSubmit="ngForm">
                    <div class="flex justify-content-between align-items-center text-900">
                        <ckeditor class="w-full" [editor]="editor" [(ngModel)]="threadCommentData.contents" name="ckComment" id="ckComment" required="true"></ckeditor>
                    </div>
                    <div class="text-500 flex justify-content-end align-items-center mr-3 mt-3">
                        <p-button [disabled]="formSubmit.form.invalid" name="commetBtn" id="commnetBtn" (click)="doComment(formSubmit.form.valid)">Add Comments</p-button>
                    </div>
                </form>

            </div>
        </div>
        <!-- comments section -->
        <div class=" my-1" *ngFor="let data of threadDetailData.dataThreadComment">
            <div class="surface-card shadow-2 border-round p-3 flex-auto mb-3">
                <div class="flex justify-content-between align-items-center text-900">
                    <span class="inline-flex align-items-start">
                        <span class="text-900 font-medium inline-block mr-3">{{data.fullName}}</span>
                    </span>
                </div>
                <div class="mb-3"><span class="text-500 text-sm">{{data.createdAt}}</span></div>
                <div class="line-height-3 text-700 mb-3" [innerHtml]="data.contents"></div>
            </div>
        </div>
    </div>
    <!-- Side Content -->
    <div class="col-12 md:col-6 lg:col-3 p-3">
        <!-- event course -->
        <div class="mb-5">
            <div class="flex justify-content-start align-items-center mb-4">
                <div class="flex justify-content-center align-items-center bg-blue-500 border-circle" style="width: 2.2rem; height: 2.2rem;"><i class="text-50 pi pi-fw pi-ticket text-lg"></i></div>
                <div class="font-bold text-lg text-900 ml-1">Event & Course</div>
            </div>
            <div class="grid grid-nogutter">
                <div *ngFor="let event of events; let i = index">
                    <div *ngIf="i<1">
                        <div class="p-3 shadow-2 border-round surface-card h-full mb-3">
                            <img src='http://localhost:1234/files/download/{{event.idFile}}' alt="Image" class="block w-full mb-3">
                            <div class="flex justify-content-between align-items-center text-900">
                                <span class="inline-flex align-items-center">
                                    <span>{{event.fullName}}</span>
                                </span>
                                <span>{{event.type}}</span>
                            </div>
                            <p class="line-height-3 mt-3 mb-3 text-900 font-bold">{{event.title}}</p>
                            <div class="mb-5">
                                <div class="mb-3 flex justify-content-between align-items-center text-900">
                                    <span>
                                        <i class="pi pi-globe mr-2 text-blue-600"></i>
                                        <span>{{event.eventCourseLocation}}</span>
                                    </span>
                                    <span>
                                        <i class="pi pi-clock mr-2 text-blue-600"></i>
                                        <span>{{timeFormatter(event.timeStart)}} - {{timeFormatter(event.timeEnd)}}</span>
                                    </span>
                                </div>
                                <div class="mb-3 flex justify-content-between align-items-center text-900">
                                    <span>
                                        <i class="pi pi-calendar mr-2 text-blue-600"></i>
                                        <span>{{dateFormatter(event.dateStart)}}</span>
                                    </span>
                                    <span>
                                        <i class="pi pi-ticket mr-2 text-blue-600"></i>
                                        <span>{{priceFormatter(event.price)}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex align-items-start mb-2">
                                <div *ngFor="let category of event.dataCategoryDetail">
                                    <span class="bg-blue-100 text-blue-600 font-medium py-2 px-3 mr-2" style="border-radius: 30px;">{{category.categoryName}}</span>
                                </div>
                            </div>
                            <button *ngIf="event.isJoin == null" class="p-button-outlined p-button-rounded p-button-sm mb-2 mt-3" (click)="join(event.title, event.id)" pButton label="Join"></button>
                            <button *ngIf="event.isJoin" class="p-button-outlined p-button-rounded p-button-sm mb-2 mt-3" (click)="join(event.title, event.id)" pButton icon="pi pi-check" label="Joined" disabled></button>
                            <button *ngIf="event.isJoin == false" class="p-button-outlined p-button-rounded p-button-sm mb-2 mt-3" (click)="join(event.title, event.id)" pButton icon="pi pi-exclamation-triangle" label="Pending" disabled></button>
                        </div>
                    </div>
                </div>

                <div *ngFor="let course of courses; let i = index">
                    <div *ngIf="i<1">
                        <div class="p-3 shadow-2 border-round surface-card h-full mb-3">
                            <img src='http://localhost:1234/files/download/{{course.idFile}}' alt="Image" class="block w-full mb-3">
                            <div class="flex justify-content-between align-items-center text-900">
                                <span class="inline-flex align-items-center">
                                    <span>{{course.fullName}}</span>
                                </span>
                                <span>{{course.type}}</span>
                            </div>
                            <p class="line-height-3 mt-3 mb-3 text-900 font-bold">{{course.title}}</p>
                            <div class="mb-5">
                                <div class="mb-3 flex justify-content-between align-items-center text-900">
                                    <span>
                                        <i class="pi pi-globe mr-2 text-blue-600"></i>
                                        <span>{{course.eventCourseLocation}}</span>
                                    </span>
                                    <span>
                                        <i class="pi pi-clock mr-2 text-blue-600"></i>
                                        <span>{{timeFormatter(course.timeStart)}} - {{timeFormatter(course.timeEnd)}}</span>
                                    </span>
                                </div>
                                <div class="mb-3 flex justify-content-between align-items-center text-900">
                                    <span>
                                        <i class="pi pi-calendar mr-2 text-blue-600"></i>
                                        <span>{{dateFormatter(course.dateStart)}}</span>
                                    </span>
                                    <span>
                                        <i class="pi pi-ticket mr-2 text-blue-600"></i>
                                        <span>{{priceFormatter(course.price)}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex align-items-start mb-2">
                                <div *ngFor="let category of course.dataCategoryDetail">
                                    <span class="bg-blue-100 text-blue-600 font-medium py-2 px-3 mr-2" style="border-radius: 30px;">{{category.categoryName}}</span>
                                </div>
                            </div>
                            <button *ngIf="course.isJoin == null" class="p-button-outlined p-button-rounded p-button-sm mb-2 mt-3" (click)="join(course.title, course.id)" pButton label="Join"></button>
                            <button *ngIf="course.isJoin" class="p-button-outlined p-button-rounded p-button-sm mb-2 mt-3" (click)="join(course.title, course.id)" pButton icon="pi pi-check" label="Joined" disabled></button>
                            <button *ngIf="course.isJoin == false" class="p-button-outlined p-button-rounded p-button-sm mb-2 mt-3" (click)="join(course.title, course.id)" pButton icon="pi pi-exclamation-triangle" label="Pending" disabled></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- articles -->
        <div>
            <div class="flex justify-content-start align-items-center my-5">
                <div class="flex justify-content-center align-items-center bg-pink-500 border-circle" style="width: 2.2rem; height: 2.2rem;"><i class="text-50 pi pi-fw pi-align-justify text-lg"></i></div>
                <div class="font-bold text-lg text-900 ml-1">Article</div>
            </div>
            <div class="grid grid-nogutter">
                <div *ngFor="let data of dataArticle; let i = index">
                    <div *ngIf="i<2">
                        <div class="p-3 shadow-2 border-round surface-card h-full mb-3">
                            <img src='http://localhost:1234/files/download/{{data.idFile}}' alt="Image" class="block w-full mb-3">
                            <p class="line-height-3 mt-3 mb-5 text-900 font-medium">{{data.title}}</p>
                            <div class="flex justify-content-between text-600">
                                <span>Posted by <span class="font-bold">{{data.fullName}}</span></span>
                            </div>
                            <div class="flex justify-content-between text-600">
                                <span>at {{dateFormatter(data.date)}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>