<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div class="font-bold text-5xl text-900 mb-3">Threads</div>
    <div class="surface-card p-4 mb-3">
        <div class="text-600 text-sm mb-3"><span>Published </span><span class="font-bold">April 6, 2021</span><span> by
            </span><span class="font-bold mr-2">Claire Williams</span>
            <p-tag severity="warning" class="p-element">
                <span class="p-tag p-component p-tag-warning">Premium</span>
            </p-tag>
        </div>
        <a href="">
            <div class="border-blue-600 font-medium text-2xl p-3 mb-3 text-900" style="border-left: 8px solid;">
                Content Section Title
            </div>
        </a>
        <div class="line-height-3 text-xl text-700 mb-5">
            Metus aliquam eleifend mi in nulla posuere. In vitae turpis massa
            sed elementum tempus egestas sed. Dui ut ornare lectus sit. Massa ultricies mi quis hendrerit.
        </div>

        <div class="text-500 flex justify-content-end align-items-center">
            <i class="pi pi-heart mr-1"></i><span class="mr-3">26</span>
            <i class="pi pi-comment mr-1"></i><span class="mr-3">6</span>
            <i class="pi pi-eye mr-1"></i><span>673</span>
            <p-button label="Read More" icon="pi pi-chevron-right" styleClass="p-button-link mr-2"></p-button>
        </div>
    </div>

    <div class="surface-card p-4 mb-3">
        <div class="text-600 text-sm mb-3"><span>Published </span><span class="font-bold">April 6, 2021</span><span> by
            </span><span class="font-bold mr-2">Claire Williams</span>
        </div>
        <a href="">
            <div class="border-blue-600 font-medium text-2xl p-3 mb-3 text-900" style="border-left: 8px solid;">
                Content Section Title
            </div>
        </a>
        <div class="line-height-3 text-xl text-700 mb-5">
            Metus aliquam eleifend mi in nulla posuere. In vitae turpis massa
            sed elementum tempus egestas sed. Dui ut ornare lectus sit. Massa ultricies mi quis hendrerit.
        </div>

        <div class="text-500 flex justify-content-end align-items-center">
            <i class="pi pi-heart mr-1"></i><span class="mr-3">26</span>
            <i class="pi pi-comment mr-1"></i><span class="mr-3">6</span>
            <i class="pi pi-eye mr-1"></i><span>673</span>
            <p-button label="Read More" icon="pi pi-chevron-right" styleClass="p-button-link mr-2"></p-button>
        </div>
    </div>
</div>