<!-- Content -->
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8 grid">
    <!-- Main Content -->
    <div class="col-12 md:col-6 lg:col-9">
        <div class="grid">
            <div class="flex justify-content-start align-items-center mb-3 col-6">
                <div class="flex justify-content-center align-items-center bg-green-500 border-circle" style="width: 2.2rem; height: 2.2rem;"><i class="text-50 pi pi-fw pi-book text-xl"></i></div>
                <div class="font-bold text-lg text-900 ml-1">Threads</div>
            </div>
            <div class="flex justify-content-end align-items-center mb-3 col-6">
                <p-button class="mr-3" label="Create" icon="pi pi-plus" routerLink="/thread/save"></p-button>
            </div>
        </div>
        <p-table #dt [value]="dataThread" [lazy]="true" (onLazyLoad)="loadData($event)" responsiveLayout="scroll" [paginator]="true" [rows]="maxPage" [totalRecords]="totalRecords" [loading]="loading" [rowsPerPageOptions]="[10,25,50]">

            <ng-template pTemplate="body" let-data>
                <tr>
                    <td>
                        <div class="surface-card p-4 mb-3">
                            <div class="text-600 text-sm mb-3"><span>Published </span><span class="font-bold">{{data.date}}</span><span>
                                    by
                                </span><span class="font-bold mr-2">{{data.fullName}}</span>
                                <p-tag severity="warning" class="p-element" *ngIf="data.isPremium">
                                    <span class="p-tag p-component p-tag-warning">Premium</span>
                                </p-tag>
                                <p-tag severity="success" class="p-element" *ngIf="data.idPolling!=null">
                                    <span class="p-tag p-component p-tag-success">Polling</span>
                                </p-tag>
                            </div>
                            <a (click)="toThreadDetail(data.isPremium, data.id)">
                                <div class="border-blue-600 font-medium text-2xl p-3 mb-3 text-900" style="border-left: 8px solid;">
                                    {{data.title}}
                                </div>
                            </a>
                            <div class="mb-5">
                                <p-tag class="p-element mr-2" *ngFor="let dataCategory of data.dataCategoryDetail"><span class="p-tag p-component">
                                        <span class="p-tag-value">{{dataCategory.categoryName}}</span>
                                    </span>
                                </p-tag>
                            </div>
                            <div class="text-500 flex justify-content-end align-items-center">
                                <span class="cursor-pointer"><i class="pi pi-heart mr-1"></i><span
                                        class="mr-3">{{data.like}}</span></span>
                                <span class="cursor-pointer"><i class="pi pi-comment mr-1"></i><span
                                        class="mr-3">{{data.comment}}</span></span>
                                <span class="cursor-pointer"><i class="pi pi-bookmark mr-1"></i><span
                                        class="mr-3">{{data.bookmark}}</span></span>
                                <p-button (click)="toThreadDetail(data.isPremium, data.id)" label="Read More" icon="pi pi-chevron-right" styleClass="p-button-link mr-2"></p-button>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- Side Content -->
    <div class="col-12 md:col-6 lg:col-3 p-3">
        <!-- event course -->
        <div class="mb-5">
            <div class="flex justify-content-start align-items-center mb-4">
                <div class="flex justify-content-center align-items-center bg-blue-500 border-circle" style="width: 2.2rem; height: 2.2rem;"><i class="text-50 pi pi-fw pi-ticket text-lg"></i></div>
                <div class="font-bold text-lg text-900 ml-1">Event & Course</div>
            </div>
            <div class="grid grid-nogutter">
                <div *ngFor="let event of events; let i = index">
                    <div *ngIf="i<1">
                        <div class="p-3 shadow-2 border-round surface-card h-full mb-3">
                            <img src='http://localhost:1234/files/download/{{event.idFile}}' alt="Image" class="block w-full mb-3">
                            <div class="flex justify-content-between align-items-center text-900">
                                <span class="inline-flex align-items-center">
                                    <!-- <p-avatar image="assets/images/avatars/avatar-f-1.png" styleClass="mr-1" shape="circle">
                                    </p-avatar> -->
                                    <span>{{event.fullName}}</span>
                                </span>
                                <span>{{event.type}}</span>
                            </div>
                            <p class="line-height-3 mt-3 mb-3 text-900 font-bold">{{event.title}}</p>
                            <div class="mb-5">
                                <div class="mb-3 flex justify-content-between align-items-center text-900">
                                    <span>
                                        <i class="pi pi-globe mr-2 text-blue-600"></i>
                                        <span>{{event.eventCourseLocation}}</span>
                                    </span>
                                    <span>
                                        <i class="pi pi-clock mr-2 text-blue-600"></i>
                                        <span>{{timeFormatter(event.timeStart)}} - {{timeFormatter(event.timeEnd)}}</span>
                                    </span>
                                </div>
                                <div class="mb-3 flex justify-content-between align-items-center text-900">
                                    <span>
                                        <i class="pi pi-calendar mr-2 text-blue-600"></i>
                                        <span>{{dateFormatter(event.dateStart)}}</span>
                                    </span>
                                    <span>
                                        <i class="pi pi-ticket mr-2 text-blue-600"></i>
                                        <span>{{priceFormatter(event.price)}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex align-items-start mb-2">
                                <div *ngFor="let category of event.dataCategoryDetail">
                                    <span class="bg-blue-100 text-blue-600 font-medium py-2 px-3 mr-2" style="border-radius: 30px;">{{category.categoryName}}</span>
                                </div>
                            </div>
                            <button *ngIf="event.isJoin == null" class="p-button-outlined p-button-rounded p-button-sm mb-2 mt-3" (click)="join(event.title, event.id)" pButton label="Join"></button>
                            <button *ngIf="event.isJoin" class="p-button-outlined p-button-rounded p-button-sm mb-2 mt-3" (click)="join(event.title, event.id)" pButton icon="pi pi-check" label="Joined" disabled></button>
                            <button *ngIf="event.isJoin == false" class="p-button-outlined p-button-rounded p-button-sm mb-2 mt-3" (click)="join(event.title, event.id)" pButton icon="pi pi-exclamation-triangle" label="Pending" disabled></button>
                        </div>
                    </div>
                </div>

                <div *ngFor="let course of courses; let i = index">
                    <div *ngIf="i<1">
                        <div class="p-3 shadow-2 border-round surface-card h-full mb-3">
                            <img src='http://localhost:1234/files/download/{{course.idFile}}' alt="Image" class="block w-full mb-3">
                            <div class="flex justify-content-between align-items-center text-900">
                                <span class="inline-flex align-items-center">
                                    <!-- <p-avatar image="assets/images/avatars/avatar-f-1.png" styleClass="mr-1" shape="circle">
                                    </p-avatar> -->
                                    <span>{{course.fullName}}</span>
                                </span>
                                <span>{{course.type}}</span>
                            </div>
                            <p class="line-height-3 mt-3 mb-3 text-900 font-bold">{{course.title}}</p>
                            <div class="mb-5">
                                <div class="mb-3 flex justify-content-between align-items-center text-900">
                                    <span>
                                        <i class="pi pi-globe mr-2 text-blue-600"></i>
                                        <span>{{course.eventCourseLocation}}</span>
                                    </span>
                                    <span>
                                        <i class="pi pi-clock mr-2 text-blue-600"></i>
                                        <span>{{timeFormatter(course.timeStart)}} - {{timeFormatter(course.timeEnd)}}</span>
                                    </span>
                                </div>
                                <div class="mb-3 flex justify-content-between align-items-center text-900">
                                    <span>
                                        <i class="pi pi-calendar mr-2 text-blue-600"></i>
                                        <span>{{dateFormatter(course.dateStart)}}</span>
                                    </span>
                                    <span>
                                        <i class="pi pi-ticket mr-2 text-blue-600"></i>
                                        <span>{{priceFormatter(course.price)}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex align-items-start mb-2">
                                <div *ngFor="let category of course.dataCategoryDetail">
                                    <span class="bg-blue-100 text-blue-600 font-medium py-2 px-3 mr-2" style="border-radius: 30px;">{{category.categoryName}}</span>
                                </div>
                            </div>
                            <button *ngIf="course.isJoin == null" class="p-button-outlined p-button-rounded p-button-sm mb-2 mt-3" (click)="join(course.title, course.id)" pButton label="Join"></button>
                            <button *ngIf="course.isJoin" class="p-button-outlined p-button-rounded p-button-sm mb-2 mt-3" (click)="join(course.title, course.id)" pButton icon="pi pi-check" label="Joined" disabled></button>
                            <button *ngIf="course.isJoin == false" class="p-button-outlined p-button-rounded p-button-sm mb-2 mt-3" (click)="join(course.title, course.id)" pButton icon="pi pi-exclamation-triangle" label="Pending" disabled></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- articles -->
        <div>
            <div class="flex justify-content-start align-items-center my-5">
                <div class="flex justify-content-center align-items-center bg-pink-500 border-circle" style="width: 2.2rem; height: 2.2rem;"><i class="text-50 pi pi-fw pi-align-justify text-lg"></i></div>
                <div class="font-bold text-lg text-900 ml-1">Article</div>
            </div>
            <div class="grid grid-nogutter">
                <div *ngFor="let data of dataArticle; let i = index">
                    <div *ngIf="i<2">
                        <div class="p-3 shadow-2 border-round surface-card h-full mb-3">
                            <img src='http://localhost:1234/files/download/{{data.idFile}}' alt="Image" class="block w-full mb-3">
                            <p class="line-height-3 mt-3 mb-5 text-900 font-medium">{{data.title}}</p>
                            <div class="flex justify-content-between text-600">
                                <span>Posted by <span class="font-bold">{{data.fullName}}</span></span>
                            </div>
                            <div class="flex justify-content-between text-600">
                                <span>at {{dateFormatter(data.date)}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>