<!-- articles -->
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div class="font-bold text-5xl text-900 mb-3">Articles</div>
    <div class="grid">
        <div class="col-12 lg:col-6" *ngFor="let data of articleData; let i = index">
            <div (click)="articleDetail(data.id)" class="cursor-pointer flex shadow-2 surface-card border-round">
                <div>
                    <img src='http://localhost:1234/files/download/{{data.idFile}}' alt="No Image" class="flex justify-content-center align-items-center p-3" *ngIf="i<2" style="height: 200px;">
                </div>
                <div class="flex justify-content-between flex-column p-4 w-full" *ngIf="i<2">
                    <div class="flex justify-content-between mb-3">
                        <div class="grid" *ngFor="let dataCategory of data.dataCategoryDetail">
                            <span class="text-orange-500 mr-2 font-medium col-auto">{{dataCategory.categoryName}}</span>
                        </div>
                        <span class="text-500 text-sm font-medium">{{dateFormatter(data.date)}}</span>
                    </div>
                    <div class="font-medium text-2xl mb-3 line-height-3">{{data.title}}</div>
                    <div class="flex align-items-center">
                        <span class="font-bold text-sm block ml-2">by {{data.fullName}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-content-end align-items-center mt-2">
        <p-button label="More Articles" icon="pi pi-chevron-right" styleClass="p-button-link" (click)="router.navigate(['/user/article/list'])"></p-button>
    </div>
</div>

<!-- Banner -->
<div style="width: 100%" class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap" *ngIf="!isPremium">
    <div class="font-bold mr-8">🔥 Hot Deals!</div>
    <div class="align-items-center hidden lg:flex">
        <span class="line-height-3">Get Premium For Your Account</span>
    </div>
    <div class="cursor-pointer flex align-items-center ml-2 mr-8">
        <a class="text-white" (click)="router.navigate(['/user/setting/premium'])"><span class="underline font-bold">Learn More</span></a>
    </div>
</div>

<!-- Threads -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="font-bold text-5xl text-900 mb-3">Recent Threads</div>
    <div class="grid nogutter">
        <div class="col-12 lg:col-4 p-4" *ngFor="let data of threadData; let i = index">
            <div class="border-top-3 border-blue-600 mb-3" *ngIf="i<3"></div>
            <div class="grid" *ngFor="let dataCategory of data.dataCategoryDetail">
                <div class="text-blue-600 font-medium mx-2 col-auto" *ngIf="i<3">
                    <span class="mr-3">{{dataCategory.categoryName}}</span>
                </div>
            </div>
            <a (click)="threadDetail(data.id)" *ngIf="i<3">
                <div class="text-900 font-bold text-2xl line-height-3 mb-4">
                    {{data.title}}
                </div>
                <div class="flex mt-4">
                    <!-- <div class="text-sm font-bold text-900 mb-1">{{data.fullName}}</div> -->
                    <div class="text-xs flex align-items-center text-700">
                        <span>{{dateThreadFormatter(data.date)}}</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="flex justify-content-end align-items-center">
        <p-button (click)="toThread()" label="More Threads" icon="pi pi-chevron-right" styleClass="p-button-link"></p-button>
    </div>
</div>

<!-- Event Course -->
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div class="font-bold text-5xl text-900 mb-3">Events</div>
    <div class="grid">
        <div class="col-12 lg:col-6" *ngFor="let event of events; let i = index">
            <div class="flex flex-column justify-content-between" style="min-height: 350px; background: url('http://localhost:1234/files/download/{{event.idFile}}') no-repeat center; background-size: cover;" *ngIf="i<2">
                <div class="flex align-items-center p-2">
                    <div *ngFor="let dataCategory of event.dataCategoryDetail">
                        <span class="bg-teal-100 text-teal-600 text-sm block py-1 px-2 border-round mr-2 font-medium">{{dataCategory.categoryName}}</span>
                    </div>
                </div>
                <div class="p-3" style="background: rgba(63, 63, 63, 0.796)">
                    <div class="text-white-alpha-90 font-bold text-3xl mb-2">{{event.title}}</div>
                    <span class="text-gray-300 text-sm">at {{dateEventCourseFormatter(event.dateStart)}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="flex justify-content-end align-items-center">
        <p-button routerLink="/event-course/list" label="More Event" icon="pi pi-chevron-right" styleClass="p-button-link"></p-button>
    </div> -->

    <div class="font-bold text-5xl text-900 mb-3">Courses</div>
    <div class="grid">
        <div class="col-12 lg:col-6" *ngFor="let course of courses; let i = index">
            <div class="flex flex-column justify-content-between" style="min-height: 350px; background: url('http://localhost:1234/files/download/{{course.idFile}}') no-repeat center; background-size: cover;" *ngIf="i<2">
                <div class="flex align-items-center p-2">
                    <div *ngFor="let dataCategory of course.dataCategoryDetail">
                        <span class="bg-teal-100 text-teal-600 text-sm block py-1 px-2 border-round mr-2 font-medium">{{dataCategory.categoryName}}</span>
                    </div>
                </div>
                <div class="p-3" style="background: rgba(63, 63, 63, 0.796)">
                    <div class="text-white-alpha-90 font-bold text-3xl mb-2">{{course.title}}</div>
                    <span class="text-gray-300 text-sm">at {{dateEventCourseFormatter(course.dateStart)}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-content-end align-items-center">
        <p-button routerLink="/event-course/list" label="More Event & Course" icon="pi pi-chevron-right" styleClass="p-button-link"></p-button>
    </div>
</div>