<!-- articles -->
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div class="font-bold text-5xl text-900 mb-3">Articles</div>
    <div class="flex flex-column xl:flex-row">
        <div (click)="articleDetail(data.id)" class="cursor-pointer flex shadow-2 surface-card border-round mr-0 xl:mr-3 mb-6 xl:mb-0 flex-column col-6 md:flex-row" *ngFor="let data of articleData; let i = index">
            <p-image src='http://localhost:1234/files/download/{{data.idFile}}' alt="No Image" class="flex justify-content-center align-items-center" width="200" *ngIf="i<2"></p-image>
            <div class="p-4" *ngIf="i<2">
                <div>
                    <div class="flex justify-content-between mb-3">
                        <div *ngFor="let dataCategory of data.dataCategoryDetail">
                            <span class="text-orange-500 font-medum">{{dataCategory.categoryName}}</span>
                        </div>

                        <span class="text-500 font-medium">{{data.date}}</span></div>
                    <div class="font-medium text-900 mb-3 line-height-3">{{data.title}}</div>
                </div>
                <div class="flex align-items-center">
                    <span class="font-bold text-sm block ml-2 text-blue-600">{{data.fullName}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-content-end align-items-center mt-2">
        <p-button label="More Articles" icon="pi pi-chevron-right" styleClass="p-button-link" (click)="router.navigate(['/user/article/list'])"></p-button>
    </div>
</div>

<!-- Banner -->
<div style="width: 100%" class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap" *ngIf="!isPremium">
    <div class="font-bold mr-8">🔥 Hot Deals!</div>
    <div class="align-items-center hidden lg:flex">
        <span class="line-height-3">Get Premium For Your Account</span>
    </div>
    <a class="flex align-items-center ml-2 mr-8">
        <a class="text-white" (click)="router.navigate(['/user/setting/premium'])"><span class="underline font-bold">Learn More</span></a>
    </a>
    <a pRipple class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150" style="width:2rem; height: 2rem">
        <i class="pi pi-times"></i>
    </a>
</div>

<!-- Threads -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="font-bold text-5xl text-900 mb-3">Recent Threads</div>
    <div class="grid nogutter">
        <div class="col-12 lg:col-4 p-4" *ngFor="let data of threadData; let i = index">
            <div class="border-top-3 border-blue-600" *ngIf="i<3"></div>
            <div *ngFor="let dataCategory of data.dataCategoryDetail">
                <div class="text-blue-600 font-medium my-2" *ngIf="i<3">
                    {{dataCategory.categoryName}}
                </div>
            </div>
            <a (click)="threadDetail(data.id)" *ngIf="i<3">
                <div class="text-900 font-medium text-xl line-height-3 mb-4">
                    {{data.title}}
                </div>
                <div class="flex mt-4">
                    <div class="ml-2">
                        <div class="text-xs font-bold text-900 mb-1">{{data.fullName}}</div>
                        <div class="text-xs flex align-items-center text-700"><i class="pi pi-calendar mr-1 text-xs"></i><span>{{data.date}}</span></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="flex justify-content-end align-items-center">
        <p-button (click)="toThread()" label="More Threads" icon="pi pi-chevron-right" styleClass="p-button-link"></p-button>
    </div>
</div>

<!-- Event Course -->
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div class="font-bold text-5xl text-900 mb-3">Events</div>
    <div class="grid">
        <div class="col-12 lg:col-6" *ngFor="let event of events; let i = index">
            <div class="flex flex-column justify-content-between" style="min-height: 350px; background: url('http://localhost:1234/files/download/{{event.idFile}}') no-repeat center; background-size: contain;" *ngIf="i<2">
                <div class="flex align-items-center p-2">
                    <div *ngFor="let dataCategory of event.dataCategoryDetail">
                        <span class="bg-teal-100 text-teal-600 text-sm block py-1 px-2 border-round mr-2 font-medium">{{dataCategory.categoryName}}</span>
                    </div>
                </div>
                <div class="p-2" style="background: rgba(63, 63, 63, 0.796)">
                    <a>
                        <div class="text-white-alpha-90 font-medium text-xl mb-3">{{event.title}}</div>
                        <p class="text-white-alpha-60 line-height-3 mt-0 mb-3">{{event.contents}}</p><span class="text-gray-300 font-medium">{{event.createdAt}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-content-end align-items-center">
        <p-button routerLink="/event-course/list" label="More Event" icon="pi pi-chevron-right" styleClass="p-button-link"></p-button>
    </div>
    <div class="font-bold text-5xl text-900 mb-3">Courses</div>
    <div class="grid">
        <div class="col-12 lg:col-6" *ngFor="let course of courses; let i = index">
            <div class="flex flex-column justify-content-between" style="min-height: 350px; background: url('http://localhost:1234/files/download/{{course.idFile}}') no-repeat center; background-size: contain;" *ngIf="i<2">
                <div class="flex align-items-center p-2">
                    <div *ngFor="let dataCategory of course.dataCategoryDetail">
                        <span class="bg-teal-100 text-teal-600 text-sm block py-1 px-2 border-round mr-2 font-medium">{{dataCategory.categoryName}}</span>
                    </div>
                </div>
                <div class="p-2" style="background: rgba(63, 63, 63, 0.796)">
                    <a>
                        <div class="text-white-alpha-90 font-medium text-xl mb-3">{{course.title}}</div>
                        <p class="text-white-alpha-60 line-height-3 mt-0 mb-3">{{course.contents}}</p><span class="text-gray-300 font-medium">{{course.createdAt}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-content-end align-items-center">
        <p-button routerLink="/event-course/list" label="More Course" icon="pi pi-chevron-right" styleClass="p-button-link"></p-button>
    </div>
</div>