<!-- Content -->
<div class="surface-ground px-4 py-6 md:px-6 lg:px-8 grid">
    <!-- Main Content -->
    <div class="col-12">
        <div class="flex justify-content-start align-items-center mb-4">
            <div class="flex justify-content-center align-items-center bg-green-500 border-circle" style="width: 2.2rem; height: 2.2rem;"><i class="text-50 pi pi-fw pi-plus text-xl"></i></div>
            <div class="font-bold text-2xl text-900 ml-1">Create Article</div>
        </div>
        <div class="surface-card shadow-2 border-round p-5 flex-auto mb-3">
            <form #formCreateArticle="ngForm">
                <label for="title" class="block text-900 text-xl font-medium mb-2">Title<span style="color: red;">*</span></label>
                <input id="title" name="title" type="text" placeholder="Thread Title" pInputText class="w-full mb-3" style="padding:1rem;" [(ngModel)]="insertArticle.title" required="true" minlength="5" maxlength="200">

                <label for="content" class="block text-900 text-xl font-medium mb-2">Content<span style="color: red;">*</span></label>
                <ckeditor name="content" [editor]="editor" [(ngModel)]="insertArticle.contents" required="true" minlength="50"></ckeditor>
                <label for="category" class="block text-900 text-xl font-medium mb-2 mt-3">Category<span style="color: red;">*</span></label>
                <div class="field mb-4 col-12 md:col-12">
                    <p-multiSelect [options]="categories" [(ngModel)]="selectCategories" defaultLabel="Select a Country" optionLabel="categoryName" class="multiselect-custom" name="multiSelect" required="true">
                        <ng-template let-value pTemplate="selectedItems">
                            <div class="country-item country-item-value inline-flex align-items-center py-1 px-2 bg-primary text-primary border-round mr-2" *ngFor="let option of selectCategories">
                                <div>{{option.categoryName}}</div>
                            </div>
                            <div *ngIf="!selectCategories || selectCategories.length === 0" class="country-placeholder">
                                Select Categories
                            </div>
                        </ng-template>
                        <ng-template let-category pTemplate="item">
                            <div class="flex align-items-center country-item">
                                <div>{{category.categoryName}}</div>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>
                <div class="field mb-4 col-12 md:col-12">
                    <label for="file" class="block text-900 text-xl font-medium mb-2 mt-3">File<span style="color: red;">*</span></label>
                    <p-fileUpload id="file" name="file" accept="image/*" (onSelect)="changeFile($event.files)" (onRemove)="removeFile()" [auto]="true" chooseLabel="Browse">
                        <ng-template pTemplate="content">
                            <span *ngIf="!file" class="flex justify-content-center">Drag and Drop here</span>
                        </ng-template>
                    </p-fileUpload>
                </div>
                <div class="text-500 flex justify-content-end align-items-center mr-1 mt-3">
                    <p-button id="createArticle" name="createArticle" (click)="onCreate()" [disabled]="formCreateArticle.form.invalid || !file">Create Article</p-button>
                </div>
            </form>
        </div>
    </div>
</div>