<div class="surface-ground px-4 py-8 md:px-6 lg:px-8 grid">
    <div class="col-12">
        <div class="grid">
            <div class="flex justify-content-start align-items-center mb-4 col-6">
                <div class="flex justify-content-center align-items-center bg-blue-500 border-circle " style="width: 2.2rem; height: 2.2rem; "><i class="text-50 pi pi-fw pi-calendar text-lg "></i></div>
                <div class="font-bold text-lg text-900 ml-1 ">Order List - {{dataEventCourse.title}} </div>
            </div>
            <div class="flex justify-content-end align-items-center mb-3 col-6">
                <a routerLink="/user/setting/event-course" class="mr-3">
                    <p-button label="Back" icon="pi pi-arrow-left"></p-button>
                </a>
                <a href="http://localhost:1234/event-course/report/{{idEvent}}">
                    <p-button label="Report" icon="pi pi-file"></p-button>
                </a>
            </div>
        </div>
        <p-dataView #dv [value]="orders" [paginator]="true" [rows]="9" layout="grid">
            <ng-template let-order pTemplate="gridItem">
                <div class="col12 md:col-4 p-2">
                    <div class=" p-3 shadow-2 border-round surface-card " style="border-radius: 6px;">
                        <div class="flex justify-content-center align-items-center" style="object-fit: cover;">
                            <p-image src='http://localhost:1234/files/download/{{order.idFile}}' alt="No Image" width="355" styleClass="mt-5" style="width: 360px; height: 240px;" [preview]="true"></p-image>
                        </div>
                        <div class="flex justify-content-between align-items-start ">
                            <div>
                                <div class="text-xl font-medium text-900 mb-2 ">{{order.fullName}}</div>
                                <p class="mt-0 mb-3 text-600 ">{{order.email}}</p>
                            </div>
                        </div>
                        <ul class="list-none m-0 p-0 ">
                            <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border ">
                                <span class="text-600 font-medium text-sm ">Created</span><span class="text-900 font-medium text-sm ">{{timeFormatter(order.createdAt)}}</span></li>
                            <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border ">
                                <span class="text-600 font-medium text-sm ">Phone Number</span><span class="text-900 font-medium text-sm ">{{order.phoneNumber}}</span></li>
                            <li class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border ">
                                <span class="text-600 font-medium text-sm ">Payment Method</span><span class="text-900 font-medium text-sm ">{{order.paymentName}}</span></li>
                            <li *ngIf="order.isAccept " class="px-0 py-2 flex justify-content-between align-items-center mb-2 "><span class="text-600 font-medium text-sm ">Invoice</span><span class="text-900 font-medium text-sm ">{{order.invoice}}</span></li>
                            <li *ngIf="!order.isAccept " class="px-0 py-2 flex justify-content-between align-items-center border-bottom-1 surface-border ">
                                <span class="text-600 font-medium text-sm ">Invoice</span><span class="text-900 font-medium text-sm ">{{order.invoice}}</span></li>
                        </ul>
                        <div class="flex justify-content-end ">
                            <button *ngIf="!order.isAccept " (click)="confirm(order.id) " class="p-button-outlined p-button-rounded mt-3 mb-2 right-0 " pButton label="Confirm "></button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>

<p-confirmDialog header="Confirmation " icon="pi pi-exclamation-triangle "></p-confirmDialog>