<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <h5 class="mt-3">Add Industry</h5>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="Back" icon="pi pi-chevron-left" class="p-button-success mr-2" routerLink="/industry/new"></button>
        </ng-template>
    </p-toolbar>
    <div class="grid formgrid p-fluid">
        <div class="field mb-4 col-12 md:col-6">
            <label for="company_name" class="font-medium text-900">
                Industry Name
            </label>
            <input id="company_name" type="text" pinputtext="" class="p-inputtext p-component p-element">
        </div>
        <div class="field mb-4 col-12 md:col-6">
            <label for="invoice_id" class="font-medium text-900">
                Industry Code
            </label>
            <input id="invoice_id" type="text" pinputtext="" class="p-inputtext p-component p-element">
        </div>
    </div>
    <button class="p-element p-ripple w-auto p-button p-component">
        <span class="p-button-icon p-button-icon-left pi pi-save" aria-hidden="true">
        </span>
        <span class="p-button-label">Submit</span>
    </button>
</div>