<div class="surface-ground px-4 py-8 md:px-6 lg:px-8 grid">
    <div class="col-12 md:col-6 lg:col-9">
        <div class="grid">
            <div class="flex justify-content-start align-items-center mb-3 col-6">
                <div class="flex justify-content-center align-items-center bg-pink-500 border-circle" style="width: 2.2rem; height: 2.2rem;"><i class="text-50 pi pi-fw pi-calendar text-lg"></i></div>
                <div class="font-bold text-lg text-900 ml-1">Event & Course</div>
            </div>
            <div class="flex justify-content-end align-items-center mb-3 col-6">
                <p-button class="mr-3" label="Create" icon="pi pi-plus" routerLink="/event-course/save"></p-button>
                <p-button label="Cart" icon="pi pi-shopping-cart" routerLink="/event-course/cart"></p-button>
            </div>
        </div>
        <p-tabView>
            <p-tabPanel header="Event" leftIcon="pi pi-ticket">
                <p-dataView #dv [value]="events" [paginator]="true" [rows]="9" layout="grid">
                    <ng-template let-event pTemplate="gridItem">
                        <div class="col-4 p-1 my-2">
                            <div class="p-3 shadow-2 border-round surface-card">
                                <img src='http://localhost:1234/files/download/{{event.idFile}}' alt="Image" class="block w-full mb-3" style="height: 200px;">
                                <div class="flex justify-content-between align-items-center text-900">
                                    <span class="inline-flex align-items-center">
                                        <span>{{event.fullName}}</span>
                                    </span>
                                    <span>Event</span>
                                </div>
                                <p class="line-height-3 mt-3 mb-3 text-900 font-bold">{{event.title}}</p>
                                <div class="mb-5">
                                    <div class="mb-3 flex justify-content-between align-items-center text-900">
                                        <span>
                                            <i class="pi pi-globe mr-2 text-blue-600"></i>
                                            <span>{{event.eventCourseLocation}}</span>
                                        </span>
                                        <span>
                                            <i class="pi pi-clock mr-2 text-blue-600"></i>
                                            <span>{{timeFormatter(event.timeStart)}} - {{timeFormatter(event.timeEnd)}}</span>
                                        </span>
                                    </div>
                                    <div class="mb-3 flex justify-content-between align-items-center text-900">
                                        <span>
                                            <i class="pi pi-calendar mr-2 text-blue-600"></i>
                                            <span>{{dateFormatter(event.dateStart)}} - {{dateFormatter(event.dateEnd)}}</span>
                                        </span>
                                        <span>
                                            <i class="pi pi-ticket mr-2 text-blue-600"></i>
                                            <span>{{priceFormatter(event.price)}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="mb-4 flex flex-wrap align-items-center">
                                    <p-tag class="p-element mr-2" *ngFor="let category of event.dataCategoryDetail">
                                        <span class="p-tag p-component">
                                            <span class="p-tag-value">{{category.categoryName}}</span>
                                        </span>
                                    </p-tag>
                                </div>
                                <button *ngIf="event.isJoin == null" class="p-button-outlined p-button-rounded mb-2" (click)="join(event.title, event.id)" pButton label="Join"></button>
                                <button *ngIf="event.isJoin" class="p-button-outlined p-button-rounded mb-2" (click)="join(event.title, event.id)" pButton icon="pi pi-check" label="Joined" disabled></button>
                                <button *ngIf="event.isJoin == false" class="p-button-outlined p-button-rounded mb-2" (click)="join(event.title, event.id)" pButton icon="pi pi-exclamation-triangle" label="Pending" disabled></button>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </p-tabPanel>
            <p-tabPanel header="Course" leftIcon="pi pi-briefcase">
                <p-dataView #dv [value]="courses" [paginator]="true" [rows]="9" layout="grid">
                    <ng-template let-course pTemplate="gridItem">
                        <div class="col-4 p-1 my-2">
                            <div class="p-3 shadow-2 border-round surface-card">
                                <img src='http://localhost:1234/files/download/{{course.idFile}}' alt="Course Image" class="block w-full mb-3" style="height: 200px;">
                                <div class="flex justify-content-between align-items-center text-900">
                                    <span class="inline-flex align-items-center">
                                        <span>{{course.fullName}}</span>
                                    </span>
                                    <span>Course</span>
                                </div>
                                <p class="line-height-3 mt-3 mb-3 text-900 font-bold">{{course.title}}</p>
                                <div class="mb-5">
                                    <div class="mb-3 flex justify-content-between align-items-center text-900">
                                        <span>
                                            <i class="pi pi-globe mr-2 text-blue-600"></i>
                                            <span>{{course.eventCourseLocation}}</span>
                                        </span>
                                        <span>
                                            <i class="pi pi-clock mr-2 text-blue-600"></i>
                                            <span>{{timeFormatter(course.timeStart)}} - {{timeFormatter(course.timeEnd)}}</span>
                                        </span>
                                    </div>
                                    <div class="mb-3 flex justify-content-between align-items-center text-900">
                                        <span>
                                            <i class="pi pi-calendar mr-2 text-blue-600"></i>
                                            <span>{{dateFormatter(course.dateStart)}} - {{dateFormatter(course.dateEnd)}}</span>
                                        </span>
                                        <span>
                                            <i class="pi pi-ticket mr-2 text-blue-600"></i>
                                            <span>{{priceFormatter(course.price)}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="mb-4 flex flex-wrap align-items-center">
                                    <p-tag class="p-element mr-2 " *ngFor="let category of course.dataCategoryDetail ">
                                        <span class="p-tag p-component ">
                                            <span class="p-tag-value ">{{category.categoryName}}</span>
                                        </span>
                                    </p-tag>
                                </div>
                                <button *ngIf="course.isJoin == null" class="p-button-outlined p-button-rounded mb-2" (click)="join(course.title, course.id)" pButton label="Join"></button>
                                <button *ngIf="course.isJoin" class="p-button-outlined p-button-rounded mb-2" (click)="join(course.title, course.id)" pButton icon="pi pi-check" label="Joined" disabled></button>
                                <button *ngIf="course.isJoin == false" class="p-button-outlined p-button-rounded mb-2" (click)="join(course.title, course.id)" pButton icon="pi pi-exclamation-triangle" label="Pending" disabled></button>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </p-tabPanel>
        </p-tabView>
    </div>
    <div class="col-12 md:col-6 lg:col-3 p-3">
        <!-- articles -->
        <div>
            <div class="flex justify-content-start align-items-center mb-4">
                <div class="flex justify-content-center align-items-center bg-pink-500 border-circle" style="width: 2.2rem; height: 2.2rem;"><i class="text-50 pi pi-fw pi-calendar text-lg"></i></div>
                <div class="font-bold text-lg text-900 ml-1">Article</div>
            </div>
            <div class="grid grid-nogutter">
                <div *ngFor="let data of dataArticle; let i = index">
                    <div *ngIf="i<4">
                        <a routerLink="/user/article/{{data.id}}" class="cursor-pointer">
                            <div class="p-3 shadow-2 border-round surface-card h-full mb-3">
                                <img src='http://localhost:1234/files/download/{{data.idFile}}' alt="Image" class="block w-full mb-3">
                                <p class="line-height-3 mt-3 mb-5 text-900 font-medium">{{data.title}}</p>
                                <div class="flex justify-content-between text-600">
                                    <span>Posted by <span class="font-bold">{{data.fullName}}</span></span>
                                </div>
                                <div class="flex justify-content-between text-600">
                                    <span>at {{dateFormatter(data.date)}}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>