<!-- Content -->
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8 grid">
    <!-- Main Content -->
    <div class="col-12 md:col-6 lg:col-9 mb-2">
        <div class="flex justify-content-start align-items-center mb-3">
            <div class="flex justify-content-center align-items-center bg-green-500 border-circle" style="width: 2.2rem; height: 2.2rem;"><i class="text-50 pi pi-fw pi-book text-xl"></i></div>
            <div class="font-bold text-2xl text-900 ml-1">Article</div>
        </div>
        <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
            <div class="text-600 text-sm mb-3">
                <span>Published </span>
                <span class="font-bold">{{articleDetailData.date}}</span>
                <span> by </span><span class="font-bold">{{articleDetailData.fullName}}</span>
            </div>
            <div class="border-blue-600 font-medium text-2xl p-3 mb-3 text-900" style="border-left: 8px solid;">
                {{articleDetailData.title}}</div>
            <div class="mb-5">
                <p-tag class="p-element mr-2" *ngFor="let data of articleDetailData.dataCategoryDetail"><span class="p-tag p-component">
                        <span class="p-tag-value">{{data.categoryName}}</span>
                    </span>
                </p-tag>
            </div>
            <div class="line-height-3 text-lg text-700 mb-4 w-full" [innerHTML]="articleDetailData.contents" style="width: 100px;">
            </div>
        </div>
    </div>
    <!-- Side Content -->
    <div class="col-12 md:col-6 lg:col-3 p-3">
        <!-- event course -->
        <div class="mb-5">
            <div class="flex justify-content-start align-items-center mb-4">
                <div class="flex justify-content-center align-items-center bg-blue-500 border-circle" style="width: 2.2rem; height: 2.2rem;"><i class="text-50 pi pi-fw pi-ticket text-lg"></i></div>
                <div class="font-bold text-lg text-900 ml-1">Event & Course</div>
            </div>
            <div class="grid grid-nogutter">
                <div *ngFor="let event of events; let i = index">
                    <div *ngIf="i<2">
                        <div class="p-3 shadow-2 border-round surface-card h-full mb-3">
                            <img src='http://localhost:1234/files/download/{{event.idFile}}' alt="Image" class="block w-full mb-3">
                            <div class="flex justify-content-between align-items-center text-900">
                                <span class="inline-flex align-items-center">
                                    <!-- <p-avatar image="assets/images/avatars/avatar-f-1.png" styleClass="mr-1" shape="circle">
                                    </p-avatar> -->
                                    <span>{{event.fullName}}</span>
                                </span>
                                <span>{{event.type}}</span>
                            </div>
                            <p class="line-height-3 mt-3 mb-3 text-900 font-bold">{{event.title}}</p>
                            <div class="mb-5">
                                <div class="mb-3 flex justify-content-between align-items-center text-900">
                                    <span>
                                        <i class="pi pi-globe mr-2 text-blue-600"></i>
                                        <span>{{event.eventCourseLocation}}</span>
                                    </span>
                                    <span>
                                        <i class="pi pi-clock mr-2 text-blue-600"></i>
                                        <span>{{timeFormatter(event.timeStart)}} - {{timeFormatter(event.timeEnd)}}</span>
                                    </span>
                                </div>
                                <div class="mb-3 flex justify-content-between align-items-center text-900">
                                    <span>
                                        <i class="pi pi-calendar mr-2 text-blue-600"></i>
                                        <span>{{dateFormatter(event.dateStart)}}</span>
                                    </span>
                                    <span>
                                        <i class="pi pi-ticket mr-2 text-blue-600"></i>
                                        <span>{{priceFormatter(event.price)}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex align-items-start mb-2">
                                <div *ngFor="let category of event.dataCategoryDetail">
                                    <span class="bg-blue-100 text-blue-600 font-medium py-2 px-3 mr-2" style="border-radius: 30px;">{{category.categoryName}}</span>
                                </div>
                            </div>
                            <button *ngIf="event.isJoin == null" class="p-button-outlined p-button-rounded p-button-sm mb-2 mt-3" (click)="join(event.title, event.id)" pButton label="Join"></button>
                            <button *ngIf="event.isJoin" class="p-button-outlined p-button-rounded p-button-sm mb-2 mt-3" (click)="join(event.title, event.id)" pButton icon="pi pi-check" label="Joined" disabled></button>
                            <button *ngIf="event.isJoin == false" class="p-button-outlined p-button-rounded p-button-sm mb-2 mt-3" (click)="join(event.title, event.id)" pButton icon="pi pi-exclamation-triangle" label="Pending" disabled></button>
                        </div>
                    </div>
                </div>

                <div *ngFor="let course of courses; let i = index">
                    <div *ngIf="i<2">
                        <div class="p-3 shadow-2 border-round surface-card h-full mb-3">
                            <img src='http://localhost:1234/files/download/{{course.idFile}}' alt="Image" class="block w-full mb-3">
                            <div class="flex justify-content-between align-items-center text-900">
                                <span class="inline-flex align-items-center">
                                    <!-- <p-avatar image="assets/images/avatars/avatar-f-1.png" styleClass="mr-1" shape="circle">
                                    </p-avatar> -->
                                    <span>{{course.fullName}}</span>
                                </span>
                                <span>{{course.type}}</span>
                            </div>
                            <p class="line-height-3 mt-3 mb-3 text-900 font-bold">{{course.title}}</p>
                            <div class="mb-5">
                                <div class="mb-3 flex justify-content-between align-items-center text-900">
                                    <span>
                                        <i class="pi pi-globe mr-2 text-blue-600"></i>
                                        <span>{{course.eventCourseLocation}}</span>
                                    </span>
                                    <span>
                                        <i class="pi pi-clock mr-2 text-blue-600"></i>
                                        <span>{{timeFormatter(course.timeStart)}} - {{timeFormatter(course.timeEnd)}}</span>
                                    </span>
                                </div>
                                <div class="mb-3 flex justify-content-between align-items-center text-900">
                                    <span>
                                        <i class="pi pi-calendar mr-2 text-blue-600"></i>
                                        <span>{{dateFormatter(course.dateStart)}}</span>
                                    </span>
                                    <span>
                                        <i class="pi pi-ticket mr-2 text-blue-600"></i>
                                        <span>{{priceFormatter(course.price)}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex align-items-start mb-2">
                                <div *ngFor="let category of course.dataCategoryDetail">
                                    <span class="bg-blue-100 text-blue-600 font-medium py-2 px-3 mr-2" style="border-radius: 30px;">{{category.categoryName}}</span>
                                </div>
                            </div>
                            <button *ngIf="course.isJoin == null" class="p-button-outlined p-button-rounded p-button-sm mb-2 mt-3" (click)="join(course.title, course.id)" pButton label="Join"></button>
                            <button *ngIf="course.isJoin" class="p-button-outlined p-button-rounded p-button-sm mb-2 mt-3" (click)="join(course.title, course.id)" pButton icon="pi pi-check" label="Joined" disabled></button>
                            <button *ngIf="course.isJoin == false" class="p-button-outlined p-button-rounded p-button-sm mb-2 mt-3" (click)="join(course.title, course.id)" pButton icon="pi pi-exclamation-triangle" label="Pending" disabled></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>